/* images */

.img-responsive {
  max-width: 100%;
}

/* backgrounds */

.back {
  &--fog {
    background: rgba(0,0,0,0.5);
  }
}

/* width */
.max-wd {
  @for $i from 0 through 6 {
    &--#{$i*10}r {
      max-width: #{$i*10}rem;
    }
  }
}

.wd {
  &--100 {
    width: 100%;
  }
}

/* height */
.hg {
  &--100 {
    height: 100%;
  }
}

/* positions */
.p {
  &--fixed {
    position: fixed;
  }
}

.top {
  &--0 { top: 0 };
}

.left {
  &--0 { left: 0 };
}

/* margins */
.m {

  &x {
    &--auto {
      margin-left: auto !important;
      margin-right: auto !important;
    }
  }

  &t {
    @for $i from 0 through 6 {
      &--#{$i} {
        margin-top: #{$i}rem !important;
      }
    }
  }

  &b {
    @for $i from 0 through 6 {
      &--#{$i} {
        margin-bottom: #{$i}rem !important;
      }
    }
  }

  &r {
    @for $i from 0 through 6 {
      &--#{$i} {
        margin-right: #{$i}rem !important;
      }
    }

    &--05r {
      margin-right: 0.5rem !important;
    }
  }

  &l {
    @for $i from 0 through 6 {
      &--#{$i} {
        margin-left: #{$i}rem !important;
      }
    }

    &--05r {
      margin-left: 0.5rem !important;
    }
  }
}

/* paddings */
.p {

  &x {
    &--auto {
      padding-left: auto !important;
      padding-right: auto !important;
    }
  }

  &t {
    @for $i from 0 through 6 {
      &--#{$i} {
        padding-top: #{$i}rem !important;
      }
    }
  }

  &b {
    @for $i from 0 through 6 {
      &--#{$i} {
        padding-bottom: #{$i}rem !important;
      }
    }
  }

  &xy {
    @for $i from 0 through 6 {
      &--#{$i} {
        padding: #{$i}rem !important;
      }
    }
  }
}

/* transform */
.tf {
  &-flipX {
    transform: scaleX(-1);
  }
  &-flipY {
    transform: scaleY(-1);
  }
  &-flipXY {
    transform: scaleX(-1) scaleY(-1);
  }
}

/* flex */

.flex {
  display:flex;

  &-shrink {
    @for $i from 0 through 5 {
      &--#{$i} {
        flex-shrink: #{$i};
      }
    }
  }

  &-grow {
    @for $i from 0 through 5 {
      &--#{$i} {
        flex-grow: #{$i};
      }
    }
  }

  &-jus {
    &--sb {
      justify-content: space-between;
    }
    &--center {
      justify-content: center;
    }
    &--start {
      justify-content: flex-start;
    }
    &--end {
      justify-content: flex-end;
    }
  }

  &-al {
    &--sb {
      align-items: space-between;
    }
    &--center {
      align-items: center;
    }
    &--start {
      align-items: flex-start;
    }
    &--end {
      align-items: flex-end;
    }
  }

  &-dir {
    &--col {
      flex-direction: column;
    }
  }

}

/* lists */

.list {
  &-t {
    &--none {
      list-style-type: none;
    }
  }
}

@media (max-width: #{$md-breakpoint}) {
  .d-md {
    &--none {
      display: none;
    }
  }
    /* width */
  .max-md-wd {
    @for $i from 0 through 6 {
      &--#{$i*10}r {
        max-width: #{$i*10}rem;
      }
    }
  }
}

@media (max-width: #{$sm-breakpoint}) {
  .d-sm {
    &--none {
      display: none;
    }
  }
}
