/* colors */
$baseTextColor: #fff;
$activeColor: #3d3370;
$warningColor: #e74c3c;

/* Breakpoints */
$lg-breakpoint: 1400px;
$md-breakpoint: 1200px;
$sm-breakpoint: 780px;
$xs-breakpoint: 400px;

/* others */
$transition: .3s;
